* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  color: white;
  font-family: "Times New Roman", Times, serif;
  min-height: 100vh;
}

header {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 15vh;
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  /*
  background-image: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );/*/
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
}

form input {
  font-size: 1.5rem;
  border: none;
  padding: 0.7rem;
  background: white;
}

form button {
  height: 3.12rem;
  width: 3rem;
  border: none;
  background-color: white;
}

footer {
  min-height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100vw;
  bottom: 0%;
}

#footer-text1,
#footer-text2,
#footer-text3 {
  color: white;
  padding: 3vh;
}

#showtext1 {
  display: none;
}
